.search-bar{
    background-color: @headBgColor;
    position:fixed;
    left:0;
    right:0;
    top:0;
    .h(40);
    .lh(40);
    button{
        background-color:@headBgColor;
        &:first-child{
            color:@defaultColor;
        }
        &:last-child{
            background-image:url(../image/search.png);
            background-repeat:no-repeat;
            background-size:15px 15px;
            background-position: 0 4px;
            color:@muteColor;
            padding-left:20px;
            margin-left:10px;
        }
    }
    input{
        border-radius:80px;
        background-color:@bodyBgColor;
        //清除浏览器默认边框样式
        border-style:none;
        //不显示浏览器默认边框
        outline-width:0;
        box-sizing: border-box;
        //给输入框一个默认做左内边距
        .pl(20);
        .h(25);
        .w(190);
    }
    img{
        transform:scale(0.6);
    }
}
.search-list{
    .mt(80);
}